
<div style="background-color:brown;border-bottom:5px solid black;">
  <div class="container" >
    <div class="row text-light">
        <div class="col-md-3 py-5">
              <img src="images/footer-logo.png" width="100%">
              <h4>About us</h4>
              <p style="color:white;">- India is broadly admired for our hasty, prompt, dependable, and practical household packing and Moving Services surrounded by our clients. Since inception (2019) of - India.</p>
              <div class="py-3"><a href="aboutus.php" class="custom-read">Read more...</a></div>
        </div>
      <div class="col-md-3 py-5">
          <h4>Our Services</h4>
          <ul>
            <li>Packing and Unpacking Services</li>
            <li>Loading and Unloading Services</li>
            <li>Household Goods Moving Services</li>
            <li>Door to Door Shifting Services</li>
            <li>Office Relocation Services</li>
            <li>Car Transportation Services</li>
            <li>Warehouse Services</li>
            <li>Insurance Services</li>
          </ul>
      </div>
      <div class="col-md-3 py-5">
        <h4>Quick Links</h4>
        <ul>
        <li> Home</li>
        <li>About Us</li>
        <li>Our Services</li>
        <li>Clients</li>
        <li>Network</li>
        <li>Gallery</li>
        <li>Enquiry</li>
        <li>Contact Us</li>
        </ul>
      </div>
      <div class="col-md-3 py-5">
        <h4>Contact us</h4>
        <div> <i class="fas fa-phone fa-fw" style="color:white;"></i> <a href="tel:8929864832" class="text-decoration-none text-light" >8929864832</a></div>
        <div> <i class="fas fa-envelope" style="color:white;"></i> <a href="tel:8929864832" class="text-decoration-none text-light" >ks5727033@gmail.com</a></div>
        <div> <i class="fas fa-map-marker-alt" style="color:white;"></i><p style="color:white;">Office No. 408, Parijat Business Centre, Vatva-Gamdi Road, Near Sardar Patel Ring Road, New Vatva, Ahmedabad, Gujarat 382427</p> </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark text-light">
  <div class="container">
    <div class="row">
    <div class="col-md-8 py-2"><p style="color:white;">© 2022 Shri Shyam Relocation | Packers & Movers All rights Reserved</p> </div>  
    <div class="col-md-4 py-2"><p style="color:white;">Design & Developed By Keshav</p></div>  
    <div>
  </div>
</div>
</div>
</div>
